<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Travel App</title>
</head>
<body>

<h1><%= trip.tripName %></h1>
<a href="/trips/<%= trip._id %>">Back</a>

<form action="/tripdetails/activity/<%= activity._id %>?_method=PUT" method="POST">
    <label>Name: </label>
    <input type="text" name="activityName" value="<%= activity.activityName %>">
    <label>City: </label>
    <input type="text" name="city" value="<%= activity.city %>">
    <label>Country: </label>
    <input type="text" name="country" value="<%= activity.country %>">
    <label>Average Cost: </label>
    <input type="number" name="cost" value="<%= activity.cost %>">
    <label>Rating: </label>
    <input type="number" name="rating" value="<%= activity.rating %>">
    <label>From <%= activity.startDate.toDateString() %> </label>
    <input type="date" name="startDate">
    <label>To <%= activity.endDate.toDateString() %> </label>
    <input type="date" name="endDate">
    <input type="submit" value="Update">
</form>

</body>
</html>